@font-face {
    font-family: 'Amarillis';
    src: url('../fonts/amarillis.otf') format('opentype');
}

@font-face {
    font-family: 'The Dodger Inky Regular';
    src: url('../fonts/the-dodger-inky-regular.ttf') format('truetype');
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'The Dodger Inky Regular', serif;
    color: rgb(25, 24, 24);
    width: 100%;
    height: auto;
    background: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.brand-links-socials {
    width: 25%;
}

.brand-links-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.brand-links-socials__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    gap: 25px;
}

.brand-footer {
    width: 120px;
    filter: invert(45%) sepia(20%) saturate(600%) hue-rotate(20deg);
}

.brand-links-socials__container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #AD7F33;
}

.links-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-socials__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.links-socials__container a, .link-facebook a, .link-twitter a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AD7F33;
    border-radius: 50%;
    color: white;
    width: 35px;
    height: 35px;
    box-shadow: 0px 8px 8px rgb(0, 0, 0, .2);
    transition: all ease-in-out .2s;
}

.links-socials__container a:hover, .link-facebook a:hover, .link-twitter a:hover {
    background: #15c8bf;
}

.link-instagram__container, .link-facebook__container, .link-twitter__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-information-paue__about-paue-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 65%;
}

.data-information-paue {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%;
    height: 100%;
}

.data-information-paue__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.data-information-paue__container h4 {
    font-size: 19px;
    color: #AD7F33;
    padding-bottom: 0;
    margin-bottom: 0;
}

.paue-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paue-information__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.paue-information__container a {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    text-decoration: none;
    color: black;
    gap: 10px;
    font-size: 15px;
}

.paue-information__container a div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paue-information__container a div svg {
    width: 14px;
    color: #AD7F33;
}

.about-paue-information {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%; 
    height: 100%;
}

.about-paue__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.about-paue__container h4 {
    font-size: 19px;
    color: #AD7F33;
    padding-bottom: 0;
    margin-bottom: 0;
}

.about-paue__container a {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    text-decoration: none;
    color: black;
    gap: 10px;
    font-size: 15px;
}

.about-paue__container a div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-paue__container a div svg {
    width: 14px;
    color: #AD7F33;
}

.container-span {
    font-size: 14px;
    font-weight: 100;
}


@media screen and (max-width: 590px) {
    footer {
        height: 80vh;
    }
    
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .data-information-paue__about-paue-information {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: row;
        gap: 10px;
        width: 90%;
    }
}
