@font-face {
    font-family: 'Amarillis';
    src: url('../fonts/amarillis.otf') format('opentype');
}

@font-face {
    font-family: 'The Dodger Inky Regular';
    src: url('../fonts/the-dodger-inky-regular.ttf') format('truetype');
}

main {
    width: 100%;
    height: auto;
    font-family: 'The Dodger Inky Regular', serif;
}

.island-day {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130vh; 
    background: #AD7F33;
}

.island-day__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.island-day__images-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    margin-left: -25px;
}

.island-day__images-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-decoration: none;
    background: #c49851;
    transition: all ease-in-out .2s;
}

.island-day__images-btn a:hover {
    background: #d5a65b;
}

.two-lists-and-value {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: -30px;
    margin-right: 25px;
    margin-top: 20px;
}

.lists-one {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 5px;
    width: 100%;
    margin-top: 45px;
}

.lists-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(
        250px,
        1fr
    ));
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: start;
    justify-items: baseline;
    gap: 5px;
}

.two-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.two-two-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.lists-one li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 20px;
    font-family: 'The Dodger Inky Regular', serif;
    gap: 10px;
    list-style: none;
}

.lists-two .two-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-family: 'The Dodger Inky Regular', serif;
    color: white;
    gap: 10px;
    list-style: none;
}

.lists-two .two-two-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-family: 'The Dodger Inky Regular', serif;
    color: white;
    gap: 10px;
    list-style: none;
}

.last-list {
    margin-top: 20px;
}

.lists-one li img {
    width: 85px;
}

.lists-two li img {
    width: 85px;
}

.invert-color {
    filter: grayscale(100%) brightness(0) invert(100%);
}

.title-island-day {
    width: 350px;
    margin-left: -180px;
    margin-top: 35px;
    margin-bottom: -40px;
    z-index: 2;
}

.last-list {
    margin-top: 20px;
}

.fotos-line-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.fotos-line-img img:nth-child(1) {
    width: 750px;
    height: auto;
    margin-left: 0;
}

.fotos-line-img img:nth-child(2) {
    height: 545px;
    margin-left: 0;
}

.island-day__price-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 49px;
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: -30px;
}

.waves {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 28%;
    top: 15px;
    right: 0;
    position: absolute;
}

.waves img {
    width: 50%;
}


/*
SECTION PRIVATE BOAT SERVICES
*/

.private-boat-services {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 120vh;
}

.private-boat-services__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-private-boat-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.letter-private-boat {
    width: 450px;
    height: auto;
    margin-bottom: -30px;
    margin-top: -10px;
}

.img-private-boat-services__img-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    width: 100%;
}

.img-boat-private {
    width: 850px;
    margin-top: -120px;
}

.img-line-private-boat-services {
    height: 550px;
}


.letters-and-btn-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 100%;
}

.letters-and-btn-booking__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 68%;
    height: 75%;
}

.letters-and-btn-booking__container p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    color: #AD7F33;
}

.change-color-letters {
    color: #ffaf2f;
    margin-top: 0;
}

.letters-lists-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.letters-lists-services li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 2px;
}

.letters-lists-services li img {
    width: 80px;
}

.letters-lists-services li span {
    font-size: 20px;
    color: #AD7F33;
}

.letters-lists-services-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    background: #AD7F33;
    color: white;
    font-size: 33px;
    padding-top: 12px;
    font-weight: 100;
    border-radius: 25px;
    text-decoration: none;
}

/*
SECTION PRIVATE BOAT SERVICES END
*/


/*
RENT A BOAT
*/


.rent-a-boat {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 125vh;
}

.rent-a-boat__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -80px;
}

.img-rent-a-boat-title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 57%;
}

.letters-rent-a-boat-lists-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.letters-rent-a-boat-lists-btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.letters-rent-a-boat-lists-btn__container p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    text-transform: uppercase;
    font-size: 19px;
    color: #AD7F33;
    font-weight: 100;
}

.datetime-number-persons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    font-family: 'The Dodger Inky Regular', serif;
    font-size: 18px;
}

.datetime-number-persons button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    line-height: normal;
    flex-direction: row;
    vertical-align: middle;
    margin: 0;
    gap: 28px;
    width: 170px;
    height: 30px;
    border-radius: 14px;
    background: #00A19A;
    color: white;
    border: none;
    outline: none;
    font-size: 26px;
    padding: 0;
    font-family: 'The Dodger Inky Regular', serif;
    cursor: pointer;
}

.datetime-number-persons button span {
    margin-top: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.letters-lists-rent-a-boat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'The Dodger Inky Regular', serif;
    width: 150px;
    height: 45px;
    background: #AD7F33;
    color: white;
    font-size: 34px;
    padding: 0;
    font-weight: 100;
    border-radius: 22px;
    border: none;
    cursor: pointer;
}

.carrousel-three-boats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.carrousel-three-boats__container {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    align-items: center;
    flex-direction: row;
    margin-right: 15px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 10px;
    width: calc(100% / 3); /* Ajusta según la cantidad de elementos */
    height: 100%;
    position: relative;
    overflow: hidden;
    opacity: 0.7;
    filter: blur(2px);
    transition: opacity 0.5s, filter 0.5s;
  }
  

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-item.current {
    opacity: 1;
    filter: none;
}

#previous {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: calc(100% / 2);
    left: calc(100% / 4);
    cursor: pointer;
}

#previous svg {
    width: 45px;
    color: #AD7F33;
}

#next {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: calc(100% / 2);
    right: calc(100% / 4);
    cursor: pointer;
}

#next svg {
    width: 45px;
    color: #AD7F33;
}

.datetime-number-persons__btn-date {
    position: relative;
}

.datetime-number-persons__btnnumber {
    position: relative;
}

.container-input-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 100px;
    background: white;
    padding: 2px;
    border: 1px solid rgb(178, 176, 176);
    border-radius: 10px;
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'The Dodger Inky Regular', serif;
    top: 0;
    z-index: 600;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.container-input-persons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 100px;
    background: white;
    padding: 2px;
    border: 1px solid rgb(178, 176, 176);
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 600;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.container-input-persons input {
    width: 90%;
    height: 25px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #AD7F33;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;
}

.container-input-date input {
    width: 90%;
    height: 25px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #AD7F33;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;
}

#container-date__close {
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;
    background: #AD7F33;
}

#container-persons__close {
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;
    background: #AD7F33;
}

.letter-rent-a-boat {
    width: 320px;
}

.img-rent-a-boat__img-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.img-rent-a-boat {
    width: 100%;
}

.img-line-reant-a-boat {
    height: 555px;
}

.lancha-rapida {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lancha-rapida__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: #AD7F33;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;
}

.lancha-rapida__container span:nth-child(1) {
    margin-bottom: -31px;
}

/*
RENT A BOAT END
*/



/*
FIRST FORM (20 PAX)
*/

.form-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.form-booking img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.form-booking__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 570px;
    height: 80vh;
    background: rgb(173, 126, 51, 0.7);
    position: absolute;
    top: 50px;
    padding: 10px;
}

.form-booking__container__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    font-family: 'The Dodger Inky Regular', serif;
}

.form-booking__container__content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    font-family: 'The Dodger Inky Regular', serif;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 85%;
}

.form-booking__container__content span {
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
    font-family: 'The Dodger Inky Regular', serif;
}

.form-booking__container__content form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 80%;
    height: 450px;
    margin-top: -100px;
    font-family: 'The Dodger Inky Regular', serif;
}

.form-booking__container__content form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b9965e;
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    font-size: 34px;
    padding: 0;
    font-weight: 100;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;

    cursor: pointer;
}

.form-booking__container__content form button:hover {
    background: #dca54b;
}

.form-booking__container__content input {
    width: 100%;
    height: 45px;
    border: none;
    font-family: 'The Dodger Inky Regular', serif;
}

.form-booking__container__content input::placeholder {
    padding: 2px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'The Dodger Inky Regular', serif;
    color: #c39955;
}

/*
FIRST FORM (20 PAX) END
*/



/*
NEW PAGE - COMIDAS Y BEBIDAS
*/

.title-one-foods {
    top: calc(100% / 2.3);
    right: calc(100% / 7);
    color: white;
}

.title-one-foods h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 65px;
    margin-bottom: -30px;
}

.title-one-foods span {
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    font-size: 65px;
}

.title-two-food-paue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    top: calc(100% / 2.3);
    right: calc(100% / 2);
    color: white;
}

.header-carrousel__item .menu-paue-foods {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    background: rgba(202, 202, 202, 0.4);
    font-weight: 100;
    font-family: 'The Dodger Inky Regular', serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 70px;
    right: 120px;
    cursor: pointer;
}

.header-carrousel__item .menu-paue-foods:hover {
    background: #AD7F33;
    color: white;
}

.title-two-food-paue h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 75px;
}

.title-two-food-paue span {
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    font-size: 65px;
}

.title-one-foods button {
    width: 120px;
    height: 35px;
    font-family: 'The Dodger Inky Regular', serif;
    text-transform: uppercase;
    font-weight: 100;
    background: white;
    color: #00A19A;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.title-one-foods button {
    font-size: 28px;
    position: absolute;
    top: 120px;
    z-index: 1;
}

.title-one-foods button:hover {
    background: #AD7F33;
    color: white;
}

.booking-with-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../img/home/Foto.png');
    background-size: cover;
    background-attachment: center top;
}

.booking-with-us__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.booking-with-us__content-title {
    position: absolute;
    top: calc(100% / 2.4);
    left: calc(100% / 11.5);
    color: white;
    font-family: 'The Dodger Inky Regular', serif;
    text-transform: uppercase;
}

.booking-with-us__content-title h2 {
    font-family: 'Amarillis', serif;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
    margin-bottom: -13px;
}

.booking-with-us__content-title span {
    font-family: 'Amarillis', serif;
    font-size: 36px;
    margin-left: 46px;
}

.booking-with-us__container img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


/*
NEW PAGE - COMIDAS Y BEBIDAS END
*/


/*
NEW ISLAND DAY
*/

.new-island-day, .new-island-day__container, .island-day__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.island-day__content {
    flex-direction: column;
}

.new-island-day {
    height: auto;
    background: #AD7F33;
    color: white;
}

.new-island-day__container {
    flex-direction: column;
}

.content-text-lists-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.island-day__content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin-top: -18px;
}

.island-day__content__container img {
    width: 300px;
}

.value-price__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.value-price__text h2 {
    font-size: 18px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.value-price__text p {
    font-size: 22px;
    font-weight: 600;    
    padding: 0;
    margin: 12px 0 0 0;
}

.island-day__content__container__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}

.firts-lists-omne-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 58px;
    margin-bottom: -20px;
}

.firts-lists-omne-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.firts-lists-omne-list li img {
    width: 80px;
}

.firts-lists-omne-list li span {
    font-size: 13px;
    text-transform: uppercase;
}


.seconds-lists-two-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(
        250px,
        1fr
    ));
    width: 100%;
}

.seconds-lists-two-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.seconds-lists-two-list li img {
    width: 80px;
}

.seconds-lists-two-list li span {
    font-size: 13px;
    text-transform: uppercase;
}

.three-lists-three-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 80%;
}

.three-lists-three-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.three-lists-three-list li img {
    width: 80px;
}

.three-lists-three-list li span {
    font-size: 13px;
    text-transform: uppercase;
}

.new-island-day-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.new-island-day-btn button {
    width: 200px;
    height: 35px;
    background: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #AD7F33;
    border: none;
    outline: none;
    border-radius: 15px;
}

.para-tener-en-cuenta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.para-tener-en-cuenta__container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.para-tener-en-cuenta__container h3 {
    font-family: 'The Dodger Inky Regular', serif;
    font-size: 84px;
    text-transform: uppercase;
    margin-top: -95px;
    margin-right: 60px;
}


.new-island-day-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.new-island-day-img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;   
    margin: 0;
    padding: 0;
}

.new-island-day-img__container img {
    width: 95%;
    height: 95%;
    margin-top: 1px;
    margin-right: -60px;
}

.waves-new-island-day {
    position: absolute;
    top: 180px;
    left: -50px;
}

.waves-new-island-day img {
    width: 200px;
}

.information-about-island {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    margin-top: -203px;
}

.information-about-island__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    background: white;
}

.information-about-island__container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    font-family: 'The Dodger Inky Regular', serif;
    color: #AD7F33;
    font-weight: 600
}

.information-about-island__container ul li span {
    color: #00A19A;
}

.information-about-island__container ul li img {
    width: 120px;
}

.list-img-wave {
    list-style: none;
    margin: -30px 0 -30px 0;
    padding: 0;
}

/*
NOT INCLUDE SECTION
*/

.not-include {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

.not-include__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'The Dodger Inky Regular', serif;
    width: 100%;
}

.item-text__img-line, .not-include-contents-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.item-text__img-line__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-include__container__item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.not-include__container__item-text p {
    margin: 3px;
}

.not-include__container__item-img-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.not-include__container__item-img-line img {
    width: 350px;
}

.not-include-contents-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.not-include-contents-text__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.not-include-contents-text__container h3 {
    text-transform: uppercase;
    font-size: 32px;
    width: 270px;
    transform: rotate(-90deg);
    margin-right: -100px;
    margin-top: 20px;
}

.text-content-not-include {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: white;
    color: #AD7F33;
}

.text-content-not-include__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text-content-not-include__container h4 {
    color: #00A19A;
}

.content-ul-lists-not-include {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-ul-lists-not-include__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.content-ul-lists-not-include__container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content-ul-lists-not-include__container ul li {
    font-weight: 600;
    list-style: none;
}



/*
CONFIRM BOOKING
*/

.confirm-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.confirm-booking__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.CB-up, .CB-up__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.CB-up__container img {
    width: 100%;
}

.CB-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-top: -35px;
}

.CB-form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.CB-form__container img {
    width: 450px;
}

.CB-form__container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-family: 'Amarillis', serif;
    font-weight: 100;
}

.CB-form__container form button {
    width: 180px;
    height: 35px;
    background: #AD7F33;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'The Dodger Inky Regular', sans-serif;
    font-weight: 100;
    color: white;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.form-container-two-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    gap: 10px;
}

.form-container-two-inputs input {
    width: 50%;
    height: 35px;
    padding: 5px;
    border: 1px solid #AD7F33;
}

.form-container-two-inputs input::placeholder {
    font-size: 18px;
    font-family: 'The Dodger Inky Regular', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #AD7F33;
}

.form-container-one-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container-one-inputs textarea {
    width: 89%;
    border: 1px solid #AD7F33;
    padding: 5px;
}

.form-container-one-inputs textarea::placeholder {
    font-family: 'The Dodger Inky Regular', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    color: #AD7F33;
}

/*
VALORA TU RESERVA SECTION
*/

.val-your-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../img/bookings/Fondo\ Valora\ tu\ reserva.png');
    background-size: cover;
    background-attachment: inherit;
    background-position: center top -40px;
    font-family: 'The Dodger Inky Regular', serif;
}

.val-your-reservation__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.val-your-reservation__container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.val-your-reservation__content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.val {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.val__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 95%;
    padding: 65px 0 10px 10px;
}

.title__stars {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color: #AD7F33;
    width: 100%;
    gap: 10px;
}

.val__container__title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.val__container__title h2 {
    text-transform: uppercase;
    font-size: 33px;
    margin: 0 0 -12px 0;
    padding: 0;
}

.val__container__title h3 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.val__container__stars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
}

.val__container__stars__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.val__container__stars__container svg {
    color: #AD7F33;
}

.description {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    color: white;
}

.description__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 95%;
}

.description__container p {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.form-val-your-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
}

.form-val-your-reservation form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-your-reservation-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.form-val-your-reservation form input {
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .5);
    padding: 5px;
}

.form-val-your-reservation form input::placeholder {
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.form-your-reservation-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.form-your-reservation-textarea textarea {
    width: 100%;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .5);
}

.form-your-reservation-textarea textarea::placeholder {
    font-size: 18px;
    padding: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.form-val-your-reservation form button {
    width: 200px;
    height: 40px;
    background: #AD7F33;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 20px;
}

/*
PREGUNTAS FRECUENTES
*/

.faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/faqs/Fotografía.png');
    background-size: cover;
    background-attachment: inherit;
    background-position: center top;
    font-family: 'Amarillis', serif;
}

.faqs__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title-faqs {
    width: 90%;
    margin-top: -80px;
    color: white;
}

.title-faqs h2 {
    text-transform: uppercase;
    font-size: 65px;
    margin-bottom: -45px;
    font-weight: 100;
}

.title-faqs h3 {
    font-family: 'Amarillis', serif;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 100;
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AD7F33;
    color: white;
    width: 100%;
}

.questions__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.questions__container__question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.questions__container__question__container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.questions__container__question__container img {
    width: 350px;
    margin-left: -219px;
}

summary {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
    list-style-type: none;
  }

  details {
    width: 100%;
  }

.paragraph-detail {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    border-top: 1px solid #00A19A;
    border-bottom: 1px solid #00A19A;
}

.paragraph-detail__container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
}

.paragraph-detail__container h3 {
    color: #00A19A;
    font-size: 28px;
}

.paragraph-detail__container p {
    font-size: 18px;
}

.paragraph-detail__detail {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    padding: 10px;
}

.paragraph-detail__container p {
    margin-left: 10px;
}




/*
GALERIA
*/

.galery-menu span {
    background: white;
}

.gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #AD7F33;
    width: 100%;
    height: 100vh;
  }
  
  .gallery-title {
    margin-top: 50px; /* Espacio arriba del carrusel */
    text-align: center; /* Centrar el título */
  }

  .gallery-title h2 {
    font-size: 41px;
    font-family: 'Amarillis', serif;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
  }


  .carousel {
    width: 80%; /* Ajusta el tamaño del carrusel */
    height: 90%;
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    position: relative;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  .slide.active {
    display: flex;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row img {
    width: calc(33.333% - 10px); /* Espacio entre las imágenes */
    margin-bottom: 10px; /* Espacio entre las filas */
  }
  
  .prev,
  .next {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .prev {
    cursor: pointer;
    left: -50px;
  }
  
  .next {
    cursor: pointer;
    right: -50px;
  }
  
  .prev svg {
    color: #c1a270;
  }
  
  .next svg {
    color: #c1a270;
  }
  
  .middle-img {
    width: 120px;
    width: 40%;
  }


@media screen and (max-width: 980px) {

    .private-boat-services {
        height: 90vh;
    }

    .title-one {
        top: 90px;
    }

    .title-three {
        top: calc(100% / 4);
        right: calc(100% / 6);
    }

    .title-four {
        top: 65px;
    }

    .island-day {
        height: 110vh;
    }

    .island-day__images-btn {
        width: 24%;
        margin-left: 47px;
    }

    .island-day__container {
        margin-top: -133px;
    }

    .img-line-reant-a-boat {
        height: 390px;
    }

    .img-line-private-boat-services {
        height: 390px;
    }

    .island-day__images-btn a {
        margin-left: 180px;
    }

    .title-island-day {
        margin-bottom: -40px;
        margin-left: 121px;
    }

    .two-lists-and-value {
        width: 36%;
        margin-top: 70px;
    }

    .fotos-line-img img:nth-child(1) {
        width: 541px;
        height: auto;
        margin-left: 216px;
    }

    .fotos-line-img img:nth-child(2) {
        height: 390px;
    }

    .lists-two {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 150px, 1fr ));
    }

    .lists-two .two-two-container li {
        font-size: 18px;
    }

    .waves img {
        width: 50%;
    }

    .lists-one {
        gap: 0;
    }

    .letters-lists-services {
        padding: 0;
    }

    .lists-one li {
        font-size: 18px;
    }

    .lists-one li img {
        width: 75px;
    }

    .lists-two li img {
        width: 75px;
    }

    .lists-two {
        gap: 0;
    }

    .two-container li, .two-two-container li {
        font-size: 12px;
    }

    .lists-two .two-container li {
        font-size: 18px;
    }

    .rent-a-boat {
        height: 90vh;
    }

    /*
    PRIVATE SERVICES BOATS
    */

    .img-private-boat-services {
        width: 24%;
    }

    .letter-private-boat {
        margin-left: 312px;
    }

    .letters-and-btn-booking {
        width: 42%;
    }

    .letters-and-btn-booking__container {
        width: 100%;
    }

    /*
    RENT A BOAT
    */

    .letters-rent-a-boat-lists-btn__container p {
        font-size: 18px;
    }

    /*
    FORM SECTION
    */

    .form-booking__container__content h2 {
        font-size: 24px;
        font-family: 'The Dodger Inky Regular', serif;
    }

    .form-booking__container__content span {
        font-family: 'The Dodger Inky Regular', serif;
        font-size: 20px;
    }


  }

  @media screen and (max-width: 870px) {

    .two-lists-and-value {
        width: 40%;
    }
    .island-day__images-btn {
        width: 10%;
    }

    .title-island-day {
        margin-left: 239px;
    }

    .island-day__images-btn a {
        margin-left: 277px;
    }

    .img-private-boat-services {
        width: 10%;
    }

    .letter-private-boat {
        margin-left: 391px;
        margin-bottom: 20px
    }

    .img-rent-a-boat-title-img {
        width: 54.5%;
    }

    .img-line-reant-a-boat {
        height: 340px;
    }

    .letters-rent-a-boat-lists-btn__container {
        margin-top: 80px;
    }

    .letters-rent-a-boat-lists-btn__container p {
        font-size: 18px;
        margin-bottom: -50px;
    }

    .carrousel-boats-and-booking {
        margin-top: 20px;
    }

    .letters-rent-a-boat-lists-btn {
        width: 44%;
    }

    .img-boat-private {
        width: 850px;
        margin-top: -58px;
        margin-left: 141px;
    }

    .img-line-private-boat-services {
        height: 390px;
        margin-left: -142px;
    }

    .letters-and-btn-booking {
        width: 42%;
        margin-top: 96px;
    }

    .letters-and-btn-booking__container {
        width: 90%;
    }

    .letters-and-btn-booking__container {
        justify-content: center;
        width: 100%;
    }
  }

  @media screen and (max-width: 590px) {

    .menu-header.menu-open {
        width: 60%;
        z-index: 999;
    }

    .waves img {
        width: 32%;
    }
    .title-one {
        top: 177px;
    }

    .title-one {
        right: calc(100% / 5);
        font-size: 37px;
    }

    .title-one h2 {
        font-size: 41px;
        margin: 0;
        margin-bottom: -10px;
    }

    .title-one span:nth-child(3) {
        font-size: 41px;
    }

    .title-two h2 {
        font-size: 41px;
        margin: 0;
        margin-bottom: 9px;
        margin-left: -124px;
    }

    .title-two span {
        font-size: 41px;
        font-weight: 600;
        margin-right: -98px;
        margin-top: -20px;
    }

    .title-three {
        top: calc(100% / 2.7);
        right: calc(100% / 82);
    }

    .title-three h2 {
        font-size: 41px;
        margin: 0;
        margin-bottom: -10px;
        font-weight: 100;
    }

    .title-three span {
        font-size: 41px;
        color: #AD7F33;
        margin-left: 47px;
        font-weight: 100;
    }

    .title-four {
        top: 125px;
    }

    .title-four h2 {
        font-size: 41px;
        margin-bottom: -10px;
    }

    .title-four span {
        font-size: 41px;
    }

    .island-day {
        height: 171vh;
    }

    .island-day__images-btn {
        width: 100%;
        margin: 0;
        margin-top: 70px;
    }

    .title-island-day {
        margin: 0;
        margin-bottom: -36px;
    }

    .fotos-line-img img:nth-child(1) {
        width: 96%;
        height: auto;
        margin: 0;
    }

    .fotos-line-img img:nth-child(2) {
        height: 332px;
    }

    .island-day__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .two-lists-and-value {
        width: 100%;
        margin-top: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .island-day__images-btn a {
        margin-left: 0;
    }

    .lists-one {
        margin-top: 0;
    }


    .private-boat-services {
        height: auto;
    }

    .private-boat-services__container {
        flex-direction: column;
    }

    .img-private-boat-services {
        width: 100%;
        margin-top: 70px;
    }

    .letter-private-boat {
        width: 326px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .img-boat-private {
        width: 100%;
        margin-top: 0;
        margin-left: -53px;
    }

    .img-line-private-boat-services {
        height: 261px;
        margin-left: 39px;
    }

    .letters-and-btn-booking {
        width: 100%;
        margin-top: 96px;
    }

    .letters-and-btn-booking__container {
        justify-content: center;
        width: 90%;
    }

    .letters-lists-services li img {
        width: 60px;
    }

    .rent-a-boat {
        height: auto;
    }

    .letters-lists-services {
        font-size: 13px;
    }

    .rent-a-boat__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .img-rent-a-boat {
        width: 97%;
    }

    .img-rent-a-boat-title-img {
        width: 100%;
        margin-top: 50px;
    }

    .img-line-reant-a-boat {
        height: 300px;
    }

    .letters-rent-a-boat-lists-btn {
        width: 100%;
    }

    .letters-rent-a-boat-lists-btn__container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .letters-rent-a-boat-lists-btn__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        gap: 50px;
    }

    .form-booking__container {
        width: 100%;
        height: 100%;
        top: 0;
        padding: 0;
    }

    .form-booking__container__content {
        width: 95%;
    }

    .form-booking__container__content form {
        width: 95%;
    }

    .title-two-food-paue {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        top: calc(100% / 2.1);
        right: 26px;
        color: white;
    }

    .title-two-food-paue h2 {
        font-size: 60px;
        margin-bottom: -51px;
    }

    .title-two-food-paue span {
        font-size: 60px;
        margin-left: -158px;
    }

    .header-carrousel__item .menu-paue-foods {
        font-size: 28px;
        bottom: 142px;
        right: 38px;
    }

    .title-one-foods {
        top: calc(100% / 2.3);
        right: calc(100% / 15);
        color: white;
    }

    .title-one-foods button {
        position: absolute;
        top: 120px;
        z-index: 1;
    }

    .booking-with-us {
        background-position: center left -80px;
    }

    .booking-with-us__content-title h2 {
        font-size: 45px;
        margin: 0;
        margin-bottom: -11px;
    }

    .booking-with-us__content-title span {
        font-size: 27px;
        margin-left: 67px;
    }

    .booking-with-us__content-title {
        top: calc(100% / 2.2);
    }

    .content-text-lists-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .new-island-day__container {
        width: 100%;
        flex-direction: column;
    }

    .content-text-lists-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .island-day__content__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-top: -18px;
    }

    .island-day__content__container img {
        width: 300px;
        z-index: 2;
        margin-top: -10px;
    }

    .value-price__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }

    .island-day__content__container__lists {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        margin-top: 35px;
        margin-left: -35px;
        margin-bottom: 86px;
    }

    .firts-lists-omne-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        padding: 0;
        margin-top: 178px;
        margin-bottom: -16px;
    }

    .firts-lists-omne-list li img {
        width: 60px;
    }

    .seconds-lists-two-list {
        justify-items: baseline;
    }

    .three-lists-three-list {
        width: 90%;
    }

    .three-lists-three-list li img {
        width: 60px;
    }

    .new-island-day-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 56px;
        margin-bottom: 174px;
    }

    .waves-new-island-day {
        position: absolute;
        top: 173px;
        left: -36px;
    }

    .waves-new-island-day img {
        width: 200px;
        height: auto;
        margin-top: 1px;
        margin-right: -196px; 
    }

    .new-island-day-img__container img {
        width: 95%;
        height: 95%;
        margin-top: 1px;
    }

    .para-tener-en-cuenta__container h3 {
        font-family: 'The Dodger Inky Regular', serif;
        font-size: 41px;
        text-transform: uppercase;
        margin-top: -8px;
        margin-right: 60px;
        margin-bottom: 59px;
    }

    .information-about-island__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 97%;
        height: 613px;
        background: white;
    }

    .information-about-island__container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 80%;
        height: 100%;
        font-family: 'The Dodger Inky Regular', serif;
        color: #AD7F33;
        font-weight: 600;
    }

    .information-about-island__container ul {
        font-size: 16px;
    }

    .not-include__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #AD7F33;
        font-family: 'The Dodger Inky Regular', serif;
        width: 100%;
        height: 100vh;
        margin-top: 353px;
    }

    .confirm-booking {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 129vh;
        margin-top: 147px;
        position: relative;
    }
    
    .item-text__img-line__container {
        gap: 19px;
    }

    .not-include-contents-text {
        width: 100%;
        margin-left: -21px;
        margin-right: 0;
        margin-top: 73px;
    }

    .text-content-not-include {
        height: 300px;
    }

    .content-ul-lists-not-include__container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .text-content-not-include__container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .not-include-contents-text__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .not-include-contents-text__container h3 {
        margin-right: -95px;
        margin-top: 127px;
    }

    .val-your-reservation {
        background-position: center top -1px;
    }

    .description__container p {
        font-size: 12px;
    }

    .new-island-day-img__container {
        justify-content: end;
        margin: 0 -70px 0 0;
    }

  }

  @media screen and (max-width: 450px) {
    .fotos-line-img img:nth-child(2) {
        height: 285px;
    }

    .title-one {
        font-size: 20px;
        right: calc(100% / 9.2);
    }

    .form-container-two-inputs {
        flex-direction: column;
    }

    .form-container-two-inputs input {
        width: 100%;
    }

    .CB-form__container {
        margin-top: 46px;
    }

    .CB-form__container img {
        width: 100%;
    }

    .new-island-day-img__container {
        justify-content: end;
        margin: 0 -28px 0 0;
    }

    .title-faqs h2 {
        font-size: 41px;
        margin-bottom: -38px;
    }

    .title-faqs h3 {
        margin-left: 2px;
    }

    .questions__container__question__container img {
        width: 270px;
    }

    summary {
        font-size: 16px;
    }

    .paragraph-detail__container {
        font-size: 14px;
    }

    .paragraph-detail__container p {
        font-size: 14px;
    }

    .paragraph-detail__container h3 {
        font-size: 21px;
    }

    .paragraph-detail__detail ul {
        width: 100%;
    }
    
  /* Estilos para dispositivos móviles */
  .slide .row {
    display: flex;
    flex-direction: column;
  }
  
  .slide .row img {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
  
  /* Asegura que se muestren dos imágenes en cada slide */
  .slide .row img:nth-child(-n+2) {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .title-one-foods h2 {
    margin-bottom: -15px;
  }
  }